*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    letter-spacing: 1px;
}
body{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #fc0d0d);
}
.calculator{
    padding: 150x;
    box-shadow: 0 0 15px #000;
    border: 2px solid #ee2165 rgb(166.114,114);
    border-radius: 15px;
}
.display input{
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: white;
}
button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border: 0;
    border-radius: 17%;
    box-shadow: -10px -10px 15px #000;
    outline: 1px solid #313131;
    outline-offset: 3px;
    cursor: pointer;
}
button:active{
    background: black;
    transform: translate(2px, 2px);
}
.opr{
    color: yellow;
    background: translate(2px,2px);
    font-size: 700;
}
#eqBtn{
    background: orangered;

}



